Repository albshady/flake8-import-policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, flake8, poetry-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: >
          (?x)^(
            tests/
          )
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: poetry-lock-check
        name: poetry-lock-check
        entry: poetry lock --check
        language: system
        pass_filenames: false
        files: "pyproject.toml"

🚧 Add dummy implementation
  flake8_import_policy.py
Due: isort, black, mypy, flake8

✅ Write some basic tests
  poetry.lock
  pyproject.toml
  tests/test_import_policy.py
Due: isort, black, flake8, poetry-lock-check

🔧 Configure black isort mypy
  pyproject.toml
Due: poetry-lock-check

✨ Read configs from pyproject.toml
  flake8_import_policy.py
  flake8_import_policy/__init__.py
  flake8_import_policy/plugin.py
  poetry.lock
  pyproject.toml
Due: isort, black, mypy, flake8, poetry-lock-check

🧪 Add more test cases
  tests/__init__.py
  tests/local_package/__init__.py
  tests/local_package/module.py
  tests/test_import_policy.py
Due: isort, black, flake8

✨ Implement parsing cli-args
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
  pyproject.toml
Due: isort, black, mypy, flake8, poetry-lock-check

✅ Test stdlib import policy
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
  tests/conftest.py
  tests/data/everything_disabled.toml
  tests/data/everything_enabled.toml
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

✅ Test third-party import policy
  flake8_import_policy/plugin.py
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

✨ Implement plugin
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

🔧 Configure flake8
  setup.cfg
Due: none

🔧 Deconfigure flake8-import-policy from pyproject.toml
  pyproject.toml
Due: poetry-lock-check

🎨 Keep one line in try block
  flake8_import_policy/plugin.py
Due: isort, black, mypy, flake8

✨ Allow overriding policies
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

✨ Support aliases
  flake8_import_policy/plugin.py
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

✨ Ignore import policies in __init__.py
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
Due: isort, black, mypy, flake8

🧑‍💻 Write more self-explanatory error messages
  flake8_import_policy/plugin.py
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

🐛 Remove plugin_config from Plugin.__init__
  flake8_import_policy/plugin.py
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

🐛 Run on actual project
  flake8_import_policy/plugin.py
Due: isort, black, mypy, flake8

🗑️ Drop support of 'from_member'
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
  tests/test_import_policy.py
Due: isort, black, mypy, flake8

📄 Add license
  LICENSE
  pyproject.toml
Due: poetry-lock-check

➖ Remove redundant dependencies
  poetry.lock
  pyproject.toml
Due: poetry-lock-check

Create python-package.yml
  .github/workflows/python-package.yml
Due: none

Fix lint stage
  .github/workflows/python-package.yml
Due: none

Remove dirname from pre-commit run command
  .github/workflows/python-package.yml
Due: none

Setup github-actions (#1)
  .github/workflows/python-package.yml
Due: none

🔧 Allow configuring overrides from config & cli
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
Due: isort, black, mypy, flake8

🧑‍💻 Allow to register import aliases via config & cli
  flake8_import_policy/plugin.py
Due: isort, black, mypy, flake8

🧑‍💻 Allow passing options in config or cli (#2)
  flake8_import_policy/config.py
  flake8_import_policy/plugin.py
Due: isort, black, mypy, flake8

📝 Correct help messages
  flake8_import_policy/plugin.py
Due: isort, black, mypy, flake8

📝 Write README.md
  README.md
Due: none
